//._demo--container
//  span.wordmark
//    span.wordmark--left PA181
//    span.wordmark--right   School Project
._demo--banner.banner
  ._demo--container
    .banner--service-container
      .banner--service-icon-container
        img.banner--service-icon(src='/images/logo-czsvg.svg', alt='Visual Recognition API Icon')
      .banner--service-info
        h3.banner--service-title.base--h3
          img.banner--service-icon_INLINE(src='/images/logo-czsvg.svg', alt='Visual Recognition API Icon')
          | Visual Recognition application for the visually impaired
        .banner--service-description
          | //TODO to co budeme mit v "Objective"

