//._demo--container
//  span.wordmark
//    span.wordmark--left PA181
//    span.wordmark--right   School Project
._demo--banner.banner
  ._demo--container
    .banner--service-container
      .banner--service-icon-container
        img.banner--service-icon(src='/images/logo-czsvg.svg', alt='Visual Recognition API Icon')
      .banner--service-info
        h3.banner--service-title.base--h3
          img.banner--service-icon_INLINE(src='/images/logo-czsvg.svg', alt='Visual Recognition API Icon')
          | Visual Recognition application for the visually impaired
        .banner--service-description
          | The main problem solving lies in helping the visually impaired via our web and ios application by providing them a service that will help them recognize object by simply taking a photo and processing it via IBM Watson AI. In the future the applications will also have a text-to-speech functionality to further improvement of the user experience.

